*{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    background-color: #B3E8E5;
}
.toolbox-container
{
    background-color:#2F8F9D;
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.toolbox-priority-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    border: 1px solid black;
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
}

.action-btn-container
{
    border: 1px solid black;
    height: 3rem;
    background-color: beige;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color
{
    height: 1.5rem;
    width: 3rem;
}

.pink
{
    background-color: pink;
}

.yellow
{
    background-color: yellow;
}

.red
{
    background-color: red;
}

.orange
{
    background-color: orange;
}

.add-btn
{
    font-size: 1.5rem;
}

.delete-btn
{
    font-size: 1.5rem;
}

.modal-cont
{
    background-color: #2F8F9D;
    display: none;
    height: 35vh;
    width: 50vw;
    position: absolute;
    top: 15rem;
    left: 25rem;
    border: 1px solid black;
}

.textarea-cont
{
    outline: none;
    resize: none;
    background-color:beige;
    height: 100%;
    width: 75%;
    padding: 2rem;
    font-size: 2rem;
}

.priority-color-cont
{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid black;
}

.priority-color
{
    height: 2.5rem;
    width: 5.5rem;
}

.main-cont
{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.ticket-cont
{
    background-color: beige;
    height: 10rem;
    width: 15rem;
}

.ticket-color
{
    height: 1rem;
}

.ticket-id
{
    height: 1rem;
}

.task-area
{
    height: calc(100%-1rem-1.5rem);
    padding: 5px;
    font-size: 1.25rem;
}

.active
{
    border: 2px solid black;
}