*{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
}
.toolbox-container
{
    background-color:rgb(111, 170, 23);
    height: 5rem;
    display: flex;
    align-items: center;
}

.toolbox-priority-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
}

.action-btn-container
{
    height: 3rem;
    background-color: beige;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color
{
    height: 1.5rem;
    width: 3rem;
}

.lightpink
{
    background-color: lightpink;
}

.lightblue
{
    background-color: lightskyblue;
}

.lightgreen
{
    background-color: lightgreen;
}

.lightgrey
{
    background-color: lightgrey;
}

.add-btn
{
    font-size: 1.5rem;
}

.delete-btn
{
    font-size: 1.5rem;
}