*{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
}
.toolbox-container
{
    background-color:yellowgreen;
    height: 5rem;
    display: flex;
    align-items: center;
}

.toolbox-priority-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
}

.action-btn-container
{
    height: 3rem;
    background-color: beige;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color
{
    height: 1.5rem;
    width: 3rem;
}

.lightpink
{
    background-color: lightpink;
}

.lightblue
{
    background-color: lightskyblue;
}

.lightgreen
{
    background-color: lightgreen;
}

.lightgrey
{
    background-color: lightgrey;
}

.add-btn
{
    font-size: 1.5rem;
}

.delete-btn
{
    font-size: 1.5rem;
}

.modal-cont
{
    background-color: beige;
    display: none;
    height: 35vh;
    width: 50vw;
    position: absolute;
    top: 15rem;
    left: 25rem;
}

.textarea-cont
{
    outline: none;
    resize: none;
    border: none;
    background-color:yellowgreen;
    height: 100%;
    width: 75%;
    padding: 2rem;
    font-size: 2rem;
}

.priority-color-cont
{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.priority-color
{
    height: 2.5rem;
    width: 5.5rem;
}

.main-cont
{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.ticket-cont
{
    background-color: beige;
    height: 10rem;
    width: 15rem;
}

.ticket-color
{
    height: 1rem;
}

.ticket-id
{
    height: 1rem;
}

.task-area
{
    height: calc(100%-1rem-1.5rem);
    padding: 5px;
    font-size: 1.25rem;
}

.active
{
    border: 2px solid black;
}